.idea
*.pyc
*.swp
/build/
/dist/
/*.egg-info/
/debian/*debhelper*
/debian/files
/debian/screamshotter/
/debian/screamshotter.substvars
/phantomjs-*.tar.bz2
/casperjs-*.tar.gz
/bin/
/lib/
/lib64
/share/
/pyvenv.cfg
/screamshotter.log
