# Python
*pyc
__pycache__
/develop_eggs
/cache
/venv
\.venv

*.log
CACHE

# BDD
*.sqlite3

# Tests, docs, etc
.coverage
.tox
docs/_build/

# IDE settings
.idea
*.iml
.env
/node_modules/
*.min.js
*.map
.cache

/docker-compose.override.yml
/.vscode/
/coverage/
/public/media/
!/public/media/industry-markers/
!/public/media/industry-pictos/
/public/static/
!/public/static/.gitkeep
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/screamshotter/
/debian/screamshotter.substvars
/debian/screamshotter.*.debhelper
/debian/files
/src/screamshotter.egg-info/
/debian/screamshotter/
/debian/screamshotter.postinst.debhelper
/debian/screamshotter.postrm.debhelper
/debian/screamshotter.prerm.debhelper
/debian/screamshotter.substvars
