Source: screamshotter2
Maintainer: Support Geotrek <support.geotrek@makina-corpus.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 9),
 dh-virtualenv (>= 1.0),
 python3 (>= 3.5),
 python3-venv (>= 3.5),
 python3-dev (>= 3.5),
 libgtk-3-0,
 libasound2,
 libgbm1,
 libxshmfence1

Package: screamshotter2
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 gettext
Conflicts:
 screamshotter
Description: Takes captures of HTML pages
