[Unit]
Description=Django-screenshot
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
WorkingDirectory=/opt/django-screenshot
ExecStart=/opt/django-screenshot/bin/gunicorn project.wsgi:application --bind 0.0.0.0:8000
Environment=DJANGO_SETTINGS_MODULE=project.settings.dev
Environment=NODE_PATH=/opt/django-screenshot/node_modules/
Restart=on-failure
User=screenshot
Group=screenshot
UMask=002

[Install]
WantedBy=multi-user.target
