#!/bin/sh -e

# set -x
# export DEBCONF_DEBUG=developer

# Source debconf library.
. /usr/share/debconf/confmodule

db_input low screamshotter/TIMEOUT || true
db_input low screamshotter/MAX_REQUESTS || true
db_input low screamshotter/SENTRY_DSN || true
db_input low screamshotter/SENTRY_ENVIRONMENT || true
db_input low screamshotter/SENTRY_TRACE_SAMPLE || true
db_input low screamshotter/PUPPETEER_CACHE_DIR || true
db_go || true
