[Unit]
Description=Screamshotter
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
WorkingDirectory=/opt/screamshotter
ExecStart=/opt/screamshotter/bin/gunicorn screamshotter.wsgi:application --timeout 600 --bind 127.0.0.1:8000
Environment=NODE_PATH=/opt/screamshotter/node_modules/
Restart=on-failure
User=screamshotter
Group=screamshotter
UMask=002

[Install]
WantedBy=multi-user.target
