[Unit]
Description=Screamshotter
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
WorkingDirectory=/opt/screamshotter
ExecStart=/opt/screamshotter/bin/gunicorn --config=/opt/screamshotter/conf/gunicorn-screamshotter.conf.py screamshotter.wsgi:application
Environment=NODE_PATH=/opt/screamshotter/node_modules/
Environment=NODE_BIN_PATH=/opt/screamshotter/bin/node
Restart=on-failure
User=screamshotter
Group=screamshotter
UMask=002

[Install]
WantedBy=multi-user.target
